// @import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap';

:root {
	--header-height: 3.5rem;
	--container-width: 1170px;
	--container-padding-x: 1rem;

	/* Improved Colors */
	--hue: 145;

	/* Light Theme */
	--first-color: hsl(var(--hue) 32% 40%); /* насыщенный основной */
	--first-color-alt: hsl(var(--hue) 32% 32%); /* для hover/active */
	--first-color-light: hsl(var(--hue) 60% 70%); /* светлый акцент */
	--first-color-lighten: hsl(var(--hue) 80% 94%); /* фоновые блоки/ховер */
	--title-color: hsl(210deg 15% 15%); /* тёмный заголовок, нейтральный */
	--text-color: hsl(210deg 10% 30%); /* основной текст */
	--text-color-light: hsl(210deg 10% 50%); /* вторичный текст */
	--body-color: hsl(0deg 0% 98%); /* фон сайта — чуть серее белого */
	--container-color: #fff;

	/* Эффекты */
	--shadow: 0 2px 12px hsl(var(--hue) 25% 25% / 26%);
	--transition-time: 0.3s;

	/*  Font and typography  */
	--body-font: 'Space Grotesk', sans-serif;
	--big-font-size: 2rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1rem;
	--normal-font-size: 0.938rem;
	--small-font-size: 0.813rem;
	--smaller-font-size: 0.75rem;

	/*  Font weight */
	--font-light: 300;
	--font-regular: 400;
	--font-bold: 700;
	--font-semi-bold: 600;

	/* Margin Bottom .5rem = 8px | 1rem = 16px ... */
	--mb-0-5: 0.5rem;
	--mb-0-75: 0.75rem;
	--mb-1: 1rem;
	--mb-1-5: 1.5rem;
	--mb-2: 2rem;
	--mb-2-5: 2.5rem;

	/* z index  */
	--z-tooltip: 10;
	--z-fixed: 100;
	--z-modal: 200;

	/* border radius */
	--border-radius: 0.5rem;
	--border-radius-sm: 0.25rem;
	--border-radius-lg: 0.75rem;
	--border-radius-xl: 1rem;

	@media screen and (width >= 968px) {
		--big-font-size: 2.5rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: 0.875rem;
		--smaller-font-size: 0.813rem;
	}
}

[data-theme='dark'] {
	--first-color-dark: hsl(var(--hue) 45% 32%); /* основной акцент (зелёный) */
	--first-color-second: hsl(var(--hue) 40% 25%); /* вариант для фонов и кнопок */
	--first-color-light: hsl(var(--hue) 60% 60%); /* для подсветки/эффектов */
	--first-color-lighten: hsl(var(--hue) 70% 85%);
	--title-color: hsl(var(--hue) 20% 90%); /* заголовки — почти белый с оттенком */
	--text-color: hsl(var(--hue) 10% 70%); /* текст — мягкий светло-серый */
	--body-color: hsl(var(--hue) 10% 8%); /* фон — почти чёрный с зелёным подтоном */
	--container-color: hsl(var(--hue) 10% 12%); /* контейнеры — чуть светлее */
	--input-color: hsl(var(--hue) 12% 18%); /* поля ввода — средний серо-зелёный */
}

/* stylelint-disable-next-line selector-class-pattern */
.App {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
}

body {
	margin: var(--header-height) 0 0 0;

	color: var(--text-color);
	font-weight: var(--font-regular);
	font-size: var(--normal-font-size);

	font-family: var(--body-font);

	background-color: var(--body-color);

	transition: background-color 0.4s ease, color var(--transition-time) ease;

	font-synthesis: none;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media screen and (width >= 767px) {
		margin: 0;
	}
}

h1,
h2,
h3 {
	color: var(--title-color);
	font-weight: var(--font-bold);
}

a {
	color: inherit;
	text-decoration: none;
}
