:root {
	color: rgb(255 255 255 / 87%);
	font-weight: 400;
	font-family: system-ui, 'Avenir', 'Helvetica', 'Arial', sans-serif;
	line-height: 1.5;

	background-color: #242424;

	color-scheme: light dark;
}

body {
	display: flex;
	justify-content: center;
	min-width: 320px;
	min-height: 100vh;
	place-items: center;

	font-synthesis: none;
	text-rendering: optimizelegibility;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
	text-align: center;
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #213547;

		background-color: #fff;
	}
}
