/* stylelint-disable selector-class-pattern */
.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide img {
	display: block;

	object-fit: cover;
}

.swiper-button-prev::after,
.swiper-button-next::after {
	color: var(--first-color);
	font-size: 1.8rem;

	@media screen and (width >= 767px) {
		font-size: 2.5rem;
	}

	@media screen and (width >= 992px) {
		font-size: 3.5rem;
	}
}

.swiper-pagination-bullet-active {
	background-color: var(--first-color);
}

.swiper-button-prev,
.swiper-button-next {
	outline: none;
}
