.icon {
	& svg {
		transition: all 0.3s ease-in-out;

		&.darken {
			fill: var(--title-color);
		}

		&.color {
			fill: var(--first-color);
		}

		&.white {
			fill: #fff;
		}

		&:disabled {
			background-color: gray;
			cursor: not-allowed;
		}
	}
}
