@use '@/styles/mixins' as *;

.imageContainer {
	position: relative;

	overflow: hidden;

	text-align: center;

	border-radius: var(--border-radius-lg);

	& img {
		object-fit: cover;

		transition: transform var(--transition-time) ease;

		@include hover {
			transform: scale(1.1);
		}
	}
}
