@use '../../styles/mixins' as *;

.imageContainer {
	position: relative;

	overflow: hidden;

	border-radius: var(--border-radius-lg);
	box-shadow: 0 4px 12px rgb(0 0 0 / 10%);

	& img {
		object-fit: cover;

		transition: transform var(--transition-time) ease;

		@include hover {
			transform: scale(1.1);
		}
	}
}
