.scrollUp {
	position: fixed;
	right: 1rem;
	bottom: -30%;
	z-index: var(--z-tooltip);

	display: inline-flex;
	padding: 0.5rem;

	background: var(--first-color);
	border-radius: 0.25rem;
	cursor: pointer;
	opacity: 0.7;

	transition: 0.4s;

	&:hover {
		background-color: var(--first-color);
		opacity: 1;
	}

	@media screen and (width >= 1200px) {
		right: 3rem;
	}
}

.scrollUpShow {
	bottom: 3rem;
}

.scrollUphide {
	bottom: -30%;
}
