.cookies {
	position: fixed;
	bottom: -100%;
	left: 24px;
	z-index: 9002;

	display: grid;
	grid-gap: 0.8rem;
	grid-template-columns: repeat(2, auto);
	align-items: center;

	width: calc(100% - 2rem);
	max-width: 30rem;
	padding: 0.5rem;

	color: #fff;

	background-color: var(--first-color);
	border-radius: 0.5rem;
	box-shadow: 0 4px 4px rgb(0 0 0 / 4%), 0 4px 20px rgb(0 0 0 / 10%);

	transition: bottom 0.3s ease-in-out;

	@media (width <= 429.98px) {
		grid-template-columns: auto;

		text-align: center;
	}

	&Text {
		font-weight: 700;
		font-size: var(--smaller-font-size);
		line-height: 16px;

		a {
			color: inherit;
			text-decoration: underline;
		}

		@media (width <= 429.98px) {
			width: 100%;
		}
	}

	&Buttons {
		display: flex;
		gap: 8px;
		align-items: center;

		@media (width <= 429.98px) {
			margin-inline: auto;
		}
	}

	&Button {
		padding: 0.5em 0.75rem;

		font-weight: var(--font-medium);
		font-size: 12px;

		border-radius: 0.3rem;

		&:hover {
			opacity: 0.7;
		}
	}

	@media (width <= 991.98px) {
		left: 50%;

		transform: translateX(-50%);
	}
}

.cookiesActive {
	bottom: 1rem;
}
