.postContent {
	&Image {
		max-width: 550px;
		margin: 0 auto 2rem;

		@media (width <= 768px) {
			margin-bottom: 1.5rem;
		}
	}

	&Header {
		display: flex;
		gap: 0.5rem;
		align-items: center;
		justify-content: space-between;
		padding: 1rem 0;

		border-bottom: 1px solid var(--first-color);

		@media (width <= 480px) {
			flex-direction: column;
			justify-content: center;
		}
	}

	&Text {
		--text-line-height: 1.7;
		margin: 3rem 0;

		color: var(--title-color);
		font-size: clamp(1rem, 2vw, 1.1rem);
		line-height: var(--text-line-height);

		white-space: pre-line;
		hyphens: auto;
	}

	&EditButton {
		@media (width <= 480px) {
			&Text {
				display: none;
			}
		}
	}
}
